packages:
  yum:
    postgresql96-devel: []
    gcc: []

container_commands:
  01_makeAppMigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  02_migrateApps:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
