option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: build/static/
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/css/: https://pocketmarket-dev.s3.ap-northeast-2.amazonaws.com/static/css/
