option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: https://pocketmarket-dev.s3.ap-northeast-2.amazonaws.com/static/
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
