@import '~normalize.css';
@import 'Components/scss/base';
@import "Components/scss/vars";

@import './Components/scss/bigStatus.scss';
@import './Components/scss/BizCertification.scss';
@import './Components/scss/bizkitchen.scss';
@import './Components/scss/BizMypage.scss';
@import './Components/scss/BizOrderStatus.scss';
@import './Components/scss/fastOrder.scss';
@import './Components/scss/festivalStore.scss';
@import './Components/scss/header.scss';
@import './Components/scss/headerBack.scss';
@import './Components/scss/headerMy.scss';
@import './Components/scss/headerOrder.scss';
@import './Components/scss/index.scss';
@import './Components/scss/intro.scss';
@import './Components/scss/KDSCnrStats.scss';
@import './Components/scss/KDSMain.scss';
@import './Components/scss/KDSSetting.scss';
@import './Components/scss/KDSSoldout.scss';
@import './Components/scss/main.scss';
@import './Components/scss/mainFestivalJSX.scss';
@import './Components/scss/mainStoreContent.scss';
@import './Components/scss/mainStoreJSX.scss';
@import './Components/scss/mypage.scss';
@import './Components/scss/Myplace.scss';
@import './Components/scss/myPlaceDetail.scss';
@import './Components/scss/MyplaceDetailList.scss';
@import './Components/scss/myPlaceDetailListJSX.scss';
@import './Components/scss/MyplaceDetailMap.scss';
@import './Components/scss/myPlaceJSX.scss';
@import './Components/scss/optionModal.scss';
@import './Components/scss/order.scss';
@import './Components/scss/orderComplete.scss';
@import './Components/scss/OrderHistory.scss';
@import './Components/scss/orderInfo.scss';
@import './Components/scss/orderInfoPayMethod.scss';
@import './Components/scss/orderStatus.scss';
@import './Components/scss/PointHistory.scss';
@import './Components/scss/QuestionsHistory.scss';
@import './Components/scss/QuestionWrite.scss';
@import './Components/scss/review.scss';
@import './Components/scss/ReviewWrite.scss';
@import 'src/Components/scss/storeGrid';
@import './Components/scss/storeList.scss';

@import './Components/css/bizmaster.css';
@import './Components/css/bizsearchmonth.css';
@import './Components/css/bizsearchdaily.css';
@import './Components/css/kdspickup.css';
@import './Components/css/kdskitchen.css';
@import './Components/css/toast.css';
@import './Components/css/footer.css';
@import './Components/css/reject.css';


body {
  margin: 0;
  font-family: 'Nanum Gothic', 'MaplestoryOTFLight', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: pan-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html {
  box-sizing: border-box;
  font-size: 15px;
}
html {
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  max-height: 100%;
}

button {
  border: 0;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

input {
  //remove iphone inset shadow
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }
}

*:link, *:visited {
  text-decoration: none;
  color: black;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fa245a;
  cursor: pointer;
  height: 16px; width: 16px;
  border-radius: 50%;
}
