.bigstatus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    width: 70%;
    height: 80%;
    font-size: 20px;
}
.bigstatus .bigstatus__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
