.biz__certification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 10px 10px;
}
.biz__certification .biz__message {
    margin-bottom: 10px;
}
.biz__certification .biz__detail {
    margin-right: auto;
}
.biz__certification .biz__button {
    width: 100%;
    margin-top: auto;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.biz__certification .biz__button .button__two {
    margin-bottom: 5px;
}
