.bizreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bizreview .bizreview__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.bizreview .bizreview__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.bizreview .bizreview__result .bizreview__result__date {
    margin-right: auto;
    margin-top: 50px;
}
.bizreview .bizreview__result .bizreview__result__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.bizreview .bizreview__result .bizreview__result__container .bizreview__result__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.bizreview .bizreview__result .bizreview__result__container .bizreview__result__review {
    width: 100%;
    height: 100px;
    overflow: auto;
    margin-top: 25px;
}
.bizreview .bizreview__result .bizreview__result__container .bizreview__result__like {
    margin-left: auto;
}
.bizreview .bizreview__result .bizreview__result__container .bizreview__result__write {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.bizreview .bizreview__result .bizreview__result__container .bizreview__result__write input[type="text"] {
    width: 90%;
}
