.fastorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
.fastorder .fastorder__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 200px;
    font-size: 24px;
}
.fastorder .fastorder__container .fastorder__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fastorder .fastorder__container .fastorder__content .fastorder__image {
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fastorder .fastorder__container .fastorder__content .fastorder__detail {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fastorder .fastorder__container .fastorder__content .fastorder__detail .detail__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fastorder .fastorder__container .fastorder__content .fastorder__detail .detail__body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.fastorder .fastorder__container .fastorder__content .fastorder__detail .detail__body .detail__description {
    width: 50%;
    font-size: 22px;
}
.fastorder__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.fastorder__menu.hidden {
    display: none;
}
