.myplace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myplace .myplace__favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.myplace .myplace__favorite .myplace__title {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    font-size: 24px;
}
.myplace .myplace__favorite .myplace__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myplace .myplace__favorite .myplace__container .myplace__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.myplace .myplace__favorite .myplace__container .myplace__content .myplace__button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.myplace .myplace__favorite .myplace__container .myplace__content .myplace__button .myplace__delete {
    margin-left: 5px;
}
.myplace .myplace__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.myplace .myplace__search .myplace__searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.myplace .myplace__search .myplace__searchbar input[type="text"] {
    width: 90%;
    height: 20px;
}
.myplace .myplace__search .myplace__result {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    min-height: 400px;
}
.myplace .myplace__search .myplace__result .result__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.myplace .myplace__search .myplace__result .result__content a {
    width: 100%;
}
.myplace .myplace__search .myplace__result .result__content a .result__title {
    margin-right: auto;
}
.myplace .myplace__search .myplace__result .result__content a .result__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.myplace__modal.hidden {
    display: none;
}
.myplace__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.myplace__modal .modal__modal {
    background-color: #f2f2f2;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.myplace__modal .modal__modal .modal__title {
    margin-bottom: 5px;
}
