.ordercomplete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95%;
}
.ordercomplete .ordercomplete__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    margin-top: 50px;
    font-size: 24px;
}
.ordercomplete .ordercomplete__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}
.ordercomplete .ordercomplete__container .ordercomplete__confirm {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ordercomplete .ordercomplete__container .ordercomplete__fastorder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__fastorder.hidden {
    display: none;
}
.modal__fastorder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.modal__fastorder .modal__modal {
    background-color: #f2f2f2;
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__fastorder .modal__modal .modal__text {
    margin-bottom: 5px;
}
