.orderhistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderhistory .orderhistory__search {
    margin-top: 50px;
}
.orderhistory .orderhistory__result {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 50px;
}
.orderhistory .orderhistory__result .orderhistory__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    margin: 20px 0;
    min-height: 150px;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__detail .orderhistory__name {
    margin-right: 5px;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__detail .orderhistory__count {
    margin-right: 5px;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__content .orderhistory__btn {
    margin-left: 10px;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__detail {
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu.hidden {
    display: none;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu .menu__receipt {
    margin-left: auto;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu .menu__detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#receipt1 {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#receipt1.hidden {
    display: none;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu .receipt__container .receipt__image {
    width: 500px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderhistory .orderhistory__result .orderhistory__container .orderhistory__menu .receipt__container button {
    position: fixed;
    right: 300px;
    top: 150px;
}
