.orderstatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderstatus a {
    text-decoration: none;
}
.orderstatus .orderstatus__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    margin-top: 15px;
}
.orderstatus .orderstatus__card a {
    text-decoration: none;
}
.orderstatus .orderstatus__card .card__delete {
    margin-left: auto;
}
.orderstatus .orderstatus__card .card__contents {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: auto;
}
#pickup {
    margin: 10px auto;
}
