.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.review .review__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.review .review__list .image__container {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review .review__list .image__container #left__btn, 
.review .review__list .image__container #right__btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .review__list .review__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review .review__list .review__container .review__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.review .review__list .review__container .review__header .review__user {
    display: flex;
}
.review .review__list .review__container .review__header .review__user .user__avatar {
    margin-right: 10px;
}
.review .review__list .review__container .review__order {
    margin-bottom: 10px;
}
.review .review__list .review__container .review__review {
    margin-bottom: 10px;
}
.review .review__list .review__container .review__input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .review__list .review__container .review__input .write-comment {
    width: 80%;
    height: 25px;
}
.review .review__list .review__container .review__input button {
    height: 25px;
}
