.store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.store .content__store {
    width: 90%;
    height: 200px;
}
.store .content__store .button__container {
    display: flex;
    margin-left: auto;
}
.store .content__store button {
    margin-top: 20px;
    margin-left: auto;
}
.order {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    bottom: 0px;
}
.store .store__review.grid {
    width: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
}
