//나눔고딕
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

//메이플 일반
@font-face { font-family: 'MaplestoryOTFLight'; src: url('//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff'); font-weight: normal; font-style: normal; }

//메이플 볼드
@font-face { font-family: 'MaplestoryOTFBold'; src: url('//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff'); font-weight: normal; font-style: normal; }
