.bizmypage{
  width: 100%;
  margin-top: $headerHeight;

  .bizmypage__stor__container{
    height: 23px;
    background: black;
    padding: 4px 0 1px 0;
    .bizmypage__stor__name{
      width: 50%;
      height: 90%;
      margin: 0 auto;
      background: white;
      border-radius: 10px;
      p{
        color: #b4022f;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }

  .bizmypage__silder_container{
    display: flex;
    align-items: center;
    width: 75%;
    margin: 35px auto;
    height: 45px;
    border-radius: 45px;
    border: solid 1px #efefef;

    .bizmypage__order__text{
      margin: auto;
      font-weight: bold;
      font-size: 20px;
      color: #b4022f;
    }

    .button__container{
      height: 23px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;


      .slide{
        width: 44px;
        height: 19px;
        border-radius: 19.5px;
        background-color: #bc3b3b;
        display: flex;
        justify-content: center;
        align-items: center;
        .subslide{
          position: relative;
          width: 50px;
          height: 15px;
          border-radius: 19.5px;
          background-color: #bc3b3b;
          display: flex;
          align-items: center;
          .slideBall{
            width: 25px;
            height: 25px;
            background-color: #ffffff;
            border-radius: 50%;
            box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.15);
            .slideBall2{
              margin: 6px auto;
              width: 12px;
              height: 12px;
              background-color: #bc3b3b;
              border-radius: 50%;
            }

            &.on {
              position: absolute;
              right: -3px;
            }
            &.off {
              position: absolute;
              right: 25px;
            }
          }
        }
      }
      button {
        margin: 0 5px;
        background-color: #ffffff;
        .off{
          font-size: 13px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 1.9px;
          color: #535353;
        }
        .on{
          font-size: 13px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 1.9px;
          color: #535353;
          margin-right: 5px;
        }
      }

    }
  }

  .bizmypage__box{
    width: 90%;

    margin: 0 auto;
    border-top: 2px solid #b4022f;
    border-bottom: 2px solid #b4022f;
    .bizmypage__list{
      width: 70%;
      height: 42px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: solid 1px #cbcbcb;
      margin: 25px auto;

      p{
        height: 50%;
        font-family: NanumGothic;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #b4022f;
      }

      a{
        font-family: Maplestory;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.1;
        letter-spacing: 2.7px;
        position: relative;
        left: 20px;
        width: 87%;
        color: #333333;
      }

    }

  }

  .bizsetting__box{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 215px auto 0;
    .bizsetting__list{
      display: flex;
      align-items: center;
      width: 48%;
      margin: 10px auto;
      height: 42px;
      border-radius: 5px;
      border: solid 1px #cbcbcb;
      background: #ffffff;
      img{
        position: relative;
        top: 6px;
        width: 23px;
        height: 23px;
        margin-right: 10px;
      }
      a{
        font-family: Maplestory;
        color: #b4022f;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.1;
        letter-spacing: 2.7px;
        position: relative;
        margin: 0 auto;
      }


    }

  }

}


.modal__conversion.hidden {
  display: none;
}
.modal__conversion {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.modal__conversion .modal__user_change {
  min-width: 300px;
  min-height: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 18%;

  .modal__header{
    width: 90%;
    margin: 0 auto;
    font-family: MaplestoryOTFLight;
    color: #b4022f;
    font-weight: bold;
    font-size: 13px;
    .modal__header_img{
      width: 20%;
      margin: 17px auto;
      img{
        margin: 0 auto;
        width: 70px;
        height: 35px;
      }
    }

  }
  .modal__close__btn{
    position: absolute;
    right: -5%;
    top: -5%;
    img{
      height: 50px;
      width: 50px;
    }

  }

  .modal__user__container{
    width: 90%;
    margin: 20px 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px #eaeaea;
    padding: 25px 0;

    .user__choices {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #333333;

      input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;

        &:checked + label {
          color: #333333;

          &:after {
            background: #bc3b3b;
          }
        }

        & + label {
          margin: 10px 0;
          display: inline-block;
          position: relative;
          padding-left: 40px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          //color: #818181;
          font-family: 'MaplestoryOTFBold', 'Nanum Gothic', sans-serif;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -4px;
            width: 23px;
            height: 23px;
            text-align: right;
            background: white;
            border: 1px solid #d2d2d2;
            border-radius: 100%;
          }

          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 6px;
            width: 13px;
            height: 13px;
            background: #e8e8e8;
            border-radius: 100%;
          }
        }
      }

      span {
        display: inline-block;
        font-family:'MaplestoryOTFBold', 'Nanum Gothic', sans-serif;
        font-weight: 800;
        width: 112px;
        height: 21px;
        text-align: left;
      }
    }

  }
  .modal__user_change__button{
    width: 40%;
    height: 40px;
    color: #ffa800;
    font-family: MaplestoryOTFLight;
    font-weight: bold;
    background: #333333;
    border-radius: 11px;
    margin: 10px auto;

  }
}
