.header__box {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 9px;
  box-sizing: border-box;
  background: white;
  border-bottom: 2px solid #eeeeee;

  >a {
    display: block;

    >img {
      display: block;
    }
  }

  .header__back {
    width: 38px;
    height: 38px;
  }

  .header__bi {
    width: 172.5px;
    height: 25px;
  }

  .header__my {
    width: 38px;
    height: 38px;
  }
}
