.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #161616;
  margin: 5px 5px 0;
  padding: .5rem;
  border-radius: 15px;
  color: #E3E3E3;
  font-size: 1.5rem;
  height: 2.5rem;
  border: 1px solid black;
  align-items: center;

  div {
    width: 30%;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      span {
        font-size: 1rem;

        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          font-size: 1.5rem;
        }
      }
    }
  }
}
