

.myplace__modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;

  &.hidden {
    display: none;
  }

  .modal__modal {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal__close__btn{
      position: absolute;
      right: -5%;
      top: -5%;
      img{
        height: 32px;
        width: 32px;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 23px auto 0;

      .modal__picture {
        margin: 0 auto 0;

        width: 29px;
        height: 29px;
      }
    }

    .modal__title {
      margin: 14px auto 0;
      width: (335/600)*100%;
      height: (26/406)*100%;
      font-family: Nanum Gothic,sans-serif;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.48;
      text-align: center;
      color: #3e3e3e;
    }

    .modal__content {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .modal__contenttext {
        margin: 7px auto 40px;
        width: 90%;
        height: 100%;
        border-radius: 7px;
        border: solid 2px #454545;
        color: black;
      }

      .modal__contentsubmit {
        margin: auto auto 6px;
        width: 33.33%;
        height: 100%;
        font-size: 11px;
        line-height: 0.83;
        letter-spacing: 0.58px;
        color: #ffffff;
        border-radius: 10px;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.myplace {
  position: absolute;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  .myplace__favorite {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 0;

    width: 100%;

    text-align: center;
    align-items: center;

    .myplace__title {
      width: 100%;
      height: 30px;

      background-color: #b4022f;

      font-family: MaplestoryOTFBold, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: white;
      letter-spacing: 0.8px;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

    }

    .myplace__savePlace {
      font-family: 'MaplestoryOTFLight', sans-serif;
      font-weight: 300;
      letter-spacing: 0.6px;

      width: 85%;
      border-collapse: collapse;
      margin-top: 20px;

      .myplace__content {
        width: 100%;
        height: 50px;

        .myplace__name {
          width: 13%;

          font-size: 10.5px;
          font-weight: bold;
          color: #b4022f;

          div {
            height: 19px;
            border: solid 1px #dfdfdf;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .myplace__address {
          text-align: left;
          font-size: 12px;
        }

        .myplace__button {
          display: contents;

          .myplace__write {
            img {
              width: 13px;
              height: 13px;
            }
          }

          .myplace__delete {
            img {
              width: 13px;
              height: 13px;
            }
          }
        }
      }

      th td {
        border: 0;
        font-family: MaplestoryOTFBold, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1.35px;
        text-align: left;
        color: #1e1e1e;
      }

      th {
        border-bottom: 3px solid #b4022f;
      }

      td {
        border-bottom: 1.5px solid #bebebe;
      }

      tr:last-child td {
        border-bottom: 0;
      }
    }

    .myplace__addressSave {
      font-family: 'Nanum Gothic', sans-serif;

      width: 85%;
      border-collapse: collapse;
      margin-top: 20px;

      display: flex;
      flex-direction: column;

      .myplace__content {
        width: 100%;
        padding-left: 5px;

        .myplace__message {
          text-indent: 10px;
        }

        .myplace__addrSearch {
          form {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              width: 340px;
              height: 40px;
              border-radius: 12px;
              border: solid 1px #d3d3d3;
              background-color: white;
            }

            input::placeholder {
              font-size: 13px;
              color: #b0b0b0;
              text-align: left;
              letter-spacing: 0.7px;
              text-indent: 10px;
            }

            button {
              width: 39px;
              height: 39px;
              background-color: #b4022f;
              margin-left: -40px;
              border-radius: 0 12px 12px 0;

              img {
                width: 17px;
                height: 17px;
              }
            }

          }
        }

        .myplace__button {
          button {
            width: 340px;
            height: 40px;
            border-radius: 15px;
            border: solid 2px #424242;
            background-color: white;

            margin-top: 16px;

            font-family: 'Nanum Gothic', sans-serif;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.34px;
            color: #010101;
          }

        }
      }

      th td {
        border: 0;
        font-family: MaplestoryOTFBold, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1.35px;
        text-align: left;
        color: #1e1e1e;
      }

      th {
        border-bottom: 3px solid black;
        margin-bottom: 20px;
      }
    }

    .myplace__recentAddress {
      font-family: 'Nanum Gothic', sans-serif;

      width: 85%;
      border-collapse: collapse;
      margin-top: 20px;


      .myplace__content {
        width: 100%;
        height: 62px;
        border-top: 1.5px solid #dcdcdc;

        .myplace__address {
          font-size: 13px;
          line-height: 1.48;
          text-align: left;
          color: #3e3e3e;


          padding-left: 5px;
          padding-right: 10px;
        }
        .myplace__button {
          img {
            width: 12px;
            height: 12px;
          }
        }
      }

      .myplace__content2 {
        .myplace__newZipCdNm {
          font-size: 9.5px;
          line-height: 1.05;
          letter-spacing: 0.24px;
          color: #c7c7c7;


          padding-left: 5px;

          div {
            width: 90%;
            border: solid 1px #d3d3d3;
            background-color: white;
          }

          padding-bottom: 15px;
        }
        .myplace__newZipCd {
          font-size: 10.5px;
          line-height: 0.95;
          text-align: left;
          color: #797979;

          padding-bottom: 15px;
        }
      }

      th td {
        border: 0;
        font-family: MaplestoryOTFBold, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1.35px;
        text-align: left;
        color: #1e1e1e;
      }

      th {
        border-bottom: 3px solid black;
      }

      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}
