@import "mixins";

$headerHeight: 63px;

.orderpage {
  width: 100%;
  height: 100%;
  margin-top: $headerHeight;

  box-sizing: border-box;

  .order__wait__box {
    width: 100%;
    height:20px;
    display: flex;
    background-color:#f3f3f3;
    border-bottom: solid;
    border-bottom-color: #d73434;
    border-bottom-width:5px;
    align-items: center;
    justify-content: center;
    .order__wait__message_box {
      display: flex;
      width: 75%;
      height: 15.5px;
      border-radius: 7px;
      background-color: #ffffff;
      align-items: center;
      .order__store {
        position: absolute;
        left: 60px;
        top: 66px;
        width: 92px;
        height: 8.5px;
        font-family: NanumGothic,sans-serif;
        font-size: 8.75px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.585;
        letter-spacing: 0.09px;
        text-align: left;
        color: #404040;
      }
      .order__store__wait {
        position: absolute;
        left: 144.5px;
        top: 66px;
        width: 125px;
        height: 8.5px;
        font-family: NanumGothic,sans-serif;
        font-size: 8.75px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.585;
        letter-spacing: 0.09px;
        text-align: left;
        color: #404040;
      }
    }
  }
  .order__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 414px;
    height: 55px;
    position: relative;
    background-color: #000000;
    .category__left {
      margin-left:8px;
      font-family: MaplestoryOTFBold, sans-serif;
      font-size: 15.5px;
      color: #606060;
      &.scroll {
        color: #b4022f;
      }
    }
    .category__right {
      margin-right:8px;
      font-family: MaplestoryOTFBold, sans-serif;
      font-size: 15.5px;
      color: #606060;
      &.scroll {
        color: #b4022f;
      }
    }
    .content__box {
      overflow: scroll;
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      .category__content {
        min-width: 60px;
        margin: 5px 20px;
        color: #ffffff;
        font-family: MaplestoryOTFLight,sans-serif;
        font-size: 15.5px;

        &.active {
          @include stroke(#ca0000)
        }
      }
    }
  }
  .order__menu {
    padding: 0 11px;
    overflow: scroll;
    width: 100%;
    min-height: 60%;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;

    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);

    .menu__container {
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;

      .menu__image {


        width:135px;
        height: 118.5px;


      }
      .menu__name {
        font-family: MaplestoryOTFLight,sans-serif;
        font-size: 14px;
        text-align: center;
      }
      .menu__price {
        font-family: Nanum Gothic,sans-serif;
        font-size: 11.5px;
        text-align: center;
      }
    }
  }
  .order__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    left: 8.5px;
    width: 397px;
    height: 166.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0.5px 0.5px 5px 0.5px gray;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    transition: ease-in-out .2s;
    z-index: 2;

    &.close{
      transform: translateY(118px);
    }
    .container__control__box {
      position:absolute;
      top: -20px;
      width: 32px;
      height: 19px;
      display: flex;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0.5px 0.5px 5px 0.5px gray;
      background-color: #d31142;
      z-index: 1;
      justify-content: center;

      .container__controller {
        margin-top: 4px;
        transform: rotate(90deg);
        color:#ededed;
        font-family: "Nanum Gothic",sans-serif;
        font-weight: bold;
        &.close {
          transform: rotate(270deg);
          margin-top:0;

        }
      }
    }
    .order__result {
      display: flex;
      padding-top: 5px;
      height:38.5px;
      .order__result__box {
        border-radius:10px;
        background-color: #d31142;
        width: 294.5px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: NanumGothic,sans-serif;
        font-size: 13.5px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: 0.34px;
        text-align: left;
        color: #ffffff;
        .reset__button {
          width: 27px;
          height: 27px;
          border-radius: 7.5px;
          margin-left:6px;
          margin-top: 2px;
          background-image: linear-gradient(to top, rgba(65, 65, 65, 1), #010101);
          .reset__image {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
          }
        }
        .result__box {
          display: flex;
          margin-left: auto;
          margin-right: 18.5px;
          .order__quantity {
            display: flex;
            .order__total-quantity {
              margin-left: 5px;
            }
          }
          .order__cost {
            display: flex;
            margin-left: 15px;
            .cost__cost {
              margin-left: 5px;
            }
          }
        }
      }
      .order__pass {
        width: 87px;
        height: 38.5px;
        border-radius: 10px;
        background-color: #1c1c1c;
        font-weight: bold;
        font-family: "Nanum Gothic",sans-serif;
        margin-left: 4px;
        color:#ffffff;
        display: flex;
        justify-content:center;
        align-items: center;
      }
    }
    .order__detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 397px;
      overflow-y: scroll;
      .order__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:29.5px;
        width: 100%;
        margin: 5px 5px;
        .item__list {
          float: left;
          font-family: NanumGothic,sans-serif;
          font-size: 13.5px;
          font-weight: 800;
          text-align: left;
          color: #333333;
          margin-left: 10px;
          width: 5px
        }
        .item__name {
          float: left;
          width: 120px;
          font-family: NanumGothic,sans-serif;
          font-size: 13.5px;
          font-weight: 800;
          letter-spacing: 0.68px;
          text-align: left;
          color: #333333;
        }
        .item__option__box {
          width: 52.5px;
          height: 25.5px;
          border-radius: 7.5px;
          border: solid 2px #cc1744;
          background-color: #ffffff;
          display: flex;
          justify-content:center;
          .item__option {
            font-family: NanumGothic,sans-serif;
            font-size: 10.5px;
            font-weight: bold;
            line-height: 2.5;
            letter-spacing: 0.53px;
            color: #6c0d0d;
          }
        }
        .item__quantity__box{
          display: flex;
          align-items: center;
          .item__decrease__button {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: #333333;
            display: flex;
            justify-content:center;
            .item__decrease {
              font-family: MaplestoryOTFBold,sans-serif;
              font-size: 20px;
              font-weight: 300;
              color: #ffffff;
            }
          }
          .item__quantity {
            margin: 0 6px;
            font-size: 0.9rem;
            font-weight: bold;
            font-family: "Nanum Gothic",sans-serif;
          }
          .item__increase__button {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: #333333;
            display: flex;
            justify-content:center;
            .item__increase {
              font-family: MaplestoryOTFBold,sans-serif;
              font-size: 20px;
              font-weight: 300;
              color: #ffffff;
            }
          }
        }

        .cancel__button {
          display: flex;
          padding-right:18px;
          font-size: 0.9rem;
          font-family: MaplestoryOTFBold, sans-serif;
          font-weight: bold;
        }
      }
      .item__line {
        width: 379px;
        height: 0.5px;
        border-bottom: solid 0.5px #ffceda;
        background-color: #ffceda;

        &:last-child {
          display: none;
        }
      }
    }
  }
}