.orderhistory{
  width: 100%;
  margin-top: $headerHeight;

  .orderhistory__search__container{
    width: 90%;
    margin: 0 auto;

    border-bottom: 2px #b4022f solid;
    .search__input{
      padding: 17px 0;
      display: flex;
      align-items: center;
      .react-datepicker__input-container{
        font-size: 14px;
        text-align: center;
        width: 100%;

      }



      #date1, #date2{
        font-size: 14px;
        text-align: center;
        width: 100%;
        height: 39px;

        border: solid 1px #d3d3d3;
      }
      span{
        display: inline-block;
        background: #3d3d3d;
        width: 42px;
        height: 42px;
        border-radius:10px 0px 0px 10px;
        img{
          width: 23px;
          height: 23px;
          padding: 10px;
        }
      }
      img{
        display: inline-block;
        width: 23px;
        height: 23px;
        padding: 10px;
      }

      #search{
        width: 24px;
        height: 24px;
        background: #b4022f;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
      }

      .pointhistory__search__date{
        width: 10px;
        height: 10px;
      }
      .pointhistory__search__btn{
        width: 100px;
        height: 100px;
        image: url("../../assets/my_place_full/ico_search.png");

      }
    }
  }

  .orderhistory__result__container{
    width: 90%;
    margin: 20px auto;
    .orderhistory__date{
      margin: 30px 0 0 0;
      padding-bottom: 10px;

      font-family: NanumGothic;
      font-size: 17px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 2.2px;
      text-align: left;
      color: #b4022f;
    }


    .orderhistory__content{
      display: flex;
      align-items: center;
      padding: 7px;
      border-radius: 10px;
      border: solid 1px #d7d7d7;
      background-color: #ffffff;
      font-family: Maplestory;
      .orderhistory__detail{
        display: flex;
        align-items: center;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        border: solid 1px #d7d7d7;
        background-color: #ffffff;
        .orderhistory__name{
          font-weight: bold;
          margin: auto;
        }
        .orderhistory__price{
          margin: auto;
        }
      }
      .orderhistory__btn, .orderhistory__btn__review  {
        border-radius: 5px;
        border: solid 1px #d5d5d5;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        margin: 0 5px;
        padding: 5px;
        font-size: 10px;
        font-weight: bold;
        width: 16%;

        &.info{
          font-size: 10px;
        }
        &.review__start{
          a{
            font-size: 10px;
            color: #b4022f;
          }


        }
        &.review__end{
          font-size: 10px;
          color: #a2a2a2;
        }
        &.rebuy{
          width: 13%;
          background: #3d3d3d;
          img{
            margin: auto;
            width: 21px;
            height: 21px;
          }
        }
      }

    }
  }

}


.result__nodata{
  margin-top: 20px;
  text-align: center;
  font-family: NanumGothic;
  font-size: 17px;
  color: #b4022f;
  font-weight: bold;
  font-stretch: normal;
}


.modal__conversion.hidden {
  display: none;
}
.modal__conversion {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.modal__conversion .modal__modal {
  max-width: 300px;
  max-height: 500px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  .modal__header__bill{
    display: flex;
    align-items: center;
    width: 91%;
    margin: 18px auto 0;
    font-family: MaplestoryOTFLight;
    font-weight: bold;
    color: #2e2e2e;
    img{
      margin-right: 5px;
      width: 16px;
      height: 19px;

    }
  }
  .modal__bill{
    width: 95%;
    height: 87%;
    margin: auto 5px;
    border: solid 1px rgba(111, 111, 111, 0.5);
    img{
      width: 100%;
      height: 100%;
    }
  }
}
