.react-datepicker-wrapper{
  width: 100%;
}

.react-datepicker{
  left: -67px;
}



.modal__conversion.hidden {
  display: none;
}
.modal__conversion {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.modal__conversion .modal__modal {
  min-width: 300px;
  height: 450px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 18%;

  .modal__header{
    width: 85%;
    margin: 17px auto;
    font-family: MaplestoryOTFLight;
    color: #2e2e2e;
  }
  .modal__close__btn{
    position: absolute;
    right: -5%;
    top: -5%;
    img{
      height: 40px;
      width: 40px;
    }

  }
  .modal__convert__info__container{
    width: 80%;
    height: 100px;
    border: solid 2px #b4022f;
    border-radius: 10px;
    display: table-column;
    .modal__convert__info{
      position: relative;
      float:left;
      text-align: center;
      font-size: 18px;
      font-family: MaplestoryOTFLight;
      font-weight: bold;
      &.divide{
        width: 50%;
        height: 50%;
        line-height: 50px;
      }
      p{
        font-size: 13px;
        margin-block-start: -31px;
      }
    }
  }
  .modal__detail__container{
    width: 80%;
    height: 253px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    .modal__convert__unit{
      margin: 16px;
      text-align: right;
      font-size: 18px;
      font-family: MaplestoryOTFLight;
      font-weight: bold;

    }

    .orderinfo__choices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #333333;

        input {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;

          &:checked + label {
            display: flex;
            color: #333333;

            &:after {
              background: #bc3b3b;
            }
          }

          & + label {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            //color: #818181;
            font-family: 'MaplestoryOTFBold', 'Nanum Gothic', sans-serif;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: -4px;
              width: 23px;
              height: 23px;
              text-align: right;
              background: white;
              border: 1px solid #d2d2d2;
              border-radius: 100%;
            }

            &:after {
              content: '';
              position: absolute;
              top: 2px;
              left: 6px;
              width: 13px;
              height: 13px;
              background: #e8e8e8;
              border-radius: 100%;
            }
          }
        }

        span {
          display: inline-block;
          font-family:'MaplestoryOTFBold', 'Nanum Gothic', sans-serif;
          font-weight: 800;
          width:70px;
          height: 20px;
          text-align: right;
          &.red{
            text-align: center;
            width: 40px;
            color: #bd1f47;
            img{
              width: 15px;
              height: 15px;
            }
          }
        }
      }

  }
  .modal__convert__button{
    width: 95%;
    height: 40px;
    color: #ffffff;
    font-family: MaplestoryOTFLight;
    font-weight: bold;
    background: #b4022f;
    border-radius: 5px;
    margin: 10px auto;

  }
}








.pointhistory{
  width: 100%;
  margin-top: 63px;
  .pointhistory__info__container{
    width: 90%;
    margin: 0 auto;
    .pointhistory__info__title{
      padding: 34px 0 2px 0;
      font-family: MaplestoryOTFLight;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.7px;
      text-align: left;
      color: #b4022f;
      border-bottom: 2px black solid;
    }
    .pointhistory__point__container{
      width: 80%;
      margin: 13px auto;
      border: solid 2px #ffebf0;
      border-radius: 10px;

      .pointhistory__data{
        display: flex;
        align-items: center;
        padding: 10px 10px;

        font-family: MaplestoryOTFLight;
        .pointhistory__title{
          width: 65%;
          font-weight: 300;
          text-align: right;
        }
        .pointhistory__point{
          width: 35%;

          font-size: 25px;
          font-weight: bold;
          text-align: right;
          color: #ff9000;
        }
        .pointhistory__point.red{
          color: #ff4800;
        }
        .pointhistory__point.red2{
          color: #b4022f;
        }

        .pointhistory__unit{
          width: 10%;
          margin-left: 3px;
        }
      }
      .pointhistory__conversion{
        font-family: MaplestoryOTFLight;
        font-weight: bolder;
        width: 98%;
        height: 35px;
        background: #b4022f;
        color: #ffffff;
        border-radius: 8px;
        margin: 5px 4px;
      }
    }
  }
  .pointhistory__search__container{
    width: 90%;
    margin: 0 auto;

    border-bottom: 2px #b4022f solid;
    .search__title{
      padding: 15px 0 2px 0;
      font-family: MaplestoryOTFLight;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.7px;
      text-align: left;
      color: #b4022f;
      border-bottom: 2px black solid;
    }
    .search__input{
      margin: 17px 0;
      display: flex;
      align-items: center;
      .react-datepicker__input-container{
        font-size: 14px;
        text-align: center;
        width: 100%;

      }



      #date1, #date2{
        font-size: 14px;
        text-align: center;
        width: 100%;
        height: 39px;

        border: solid 1px #d3d3d3;
      }
      span{
        display: inline-block;
        background: #3d3d3d;
        width: 42px;
        height: 42px;
        border-radius:10px 0px 0px 10px;
        img{
          width: 23px;
          height: 23px;
          padding: 10px;
        }
      }
      img{
        display: inline-block;
        width: 23px;
        height: 23px;
        padding: 10px;
      }

      #search{
        width: 24px;
        height: 24px;
        background: #b4022f;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
      }

      .pointhistory__search__date{
         width: 10px;
         height: 10px;
       }
      .pointhistory__search__btn{
        width: 100px;
        height: 100px;
        image: url("../../assets/my_place_full/ico_search.png");

      }
    }
  }

  .pointhistory__result__container{
    width: 90%;
    margin: 0 auto;
    .pointhistory__search{
      .pointhistory__result{
        .result__nodata{
          margin-top: 20px;
          text-align: center;
          font-family: NanumGothic;
          font-size: 17x;
          color: #b4022f;
          font-weight: bold;
          font-stretch: normal;

        }
        .result__date{
          margin: 30px 0 0 0;
          padding-bottom: 10px;

          font-family: NanumGothic;
          font-size: 17px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 2.2px;
          text-align: left;
          color: #b4022f;
          border-bottom: solid 2px #b4022f;
        }
        .result__detail{
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          .result__conversion, .result__use{
            width: 40px;
            height: 25px;
            line-height: 22px;
            color: #ffffff;
            background: #b4022f;
            text-align: center;
            border-radius: 5px;
          }
          .result__use{
            background: #ff9000;
          }
          .result__likes{

          }
          .result__point{

          }
        }
      }

    }
  }

}



