


.reviewwrite {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: $headerHeight;
  justify-content: flex-start;
  .review__write__box {
    width: 100%;
    padding: 30px 8px;
    box-sizing: border-box;
    .review__write__caption {
      width: 70px;
      height: 21px;
      border-radius: 7.5px;
      background-color: #b4022f;
      font-family: MaplestoryOTFLight,sans-serif;
      font-size: 11px;
      font-weight: 800;
      text-align: center;
      line-height: 2;
      color: #ffffff;
    }
    .reviewwrite__context {
      display: block;
      width: 95%;
      height: 118px;
      margin: 11px auto;
      box-sizing: border-box;
      padding: 8px;
      border: solid 3px #4a4a4a;
      border-radius: 0;
      font-size: 12px;
      box-shadow: 2.8px 5.3px 8px 2px rgba(0, 0, 0, 0.1);
      font-family: Nanum Gothic, sans-serif;
      resize: none;
    }
  }
  .review__content__box {
    width: 100%;
    padding: 30px 8px;
    box-sizing: border-box;
    .review__content__caption {
      width: 70px;
      height: 21px;
      border-radius: 7.5px;
      background-color: #b4022f;
      font-family: MaplestoryOTFLight,sans-serif;
      font-size: 11px;
      font-weight: 800;
      text-align: center;
      line-height: 2;
      color: #ffffff;
    }
    .review__content {
      margin: 10px auto;
      height: 100%;
      width: 90%;
      .input__container {
        display: flex;
        margin: 10px 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .menu__name {
          font-family: MaplestoryOTFLight,sans-serif;
          font-size: 14px;
          font-weight: 800;
          width: 115px;
        }
        .review__controll {
          width:165px;
          height: 2px;
          border-radius: 1px;
          background-color: #4a4a4a;
        }
        .review__point {
          margin: 0 25px 0 0;
          font-family: Nanum Gothic, sans-serif;
          font-size: 16px;
          font-weight: 600;
          color: #eb1a4f;
        }
      }


    }
  }
  .photo__upload__box {
    width: 100%;
    padding: 30px 8px;
    box-sizing: border-box;
    .photo__upload__caption {
      width: 70px;
      height: 21px;
      border-radius: 7.5px;
      background-color: #b4022f;
      font-family: MaplestoryOTFLight,sans-serif;
      font-size: 11px;
      font-weight: 800;
      line-height: 2;
      text-align: center;
      color: #ffffff;
    }
    .photo__upload {
      .upperline {
        width: 95%;
        height: 1.5px;
        background-color: #f3f3f3;
        margin: 12px 14px 12px;
      }
      .fileupload {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 75px;
        grid-gap: 6px;
        .file__image__box {
          position: relative;
          width: 100%;
          border: solid 1px #f3f3f3;

          &:before {
            display: block;
            content: '';
            height: 1px;
            padding-bottom: 100%;
          }

          &.empty{
            .image{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 26px;
              height: 18px;
            }
          }

        }
      }
      .underline {
        width: 95%;
        height: 1.5px;
        background-color: #f3f3f3;
        margin: 12px 14px 12px;
      }
      .submit {
        border-radius: 15px;
        background-color: #000000;

        width: 99px;
        height: 51px;
        margin: auto;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 51px;
        letter-spacing: 0.68px;
        text-align: center;
        color: #ffa800;
      }
    }
  }
}
