@import './Components/css/header.css';
@import './Components/css/login.css';
@import './Components/css/main.css';
@import './Components/css/mypage.css';
@import './Components/css/festivalstore.css';
@import './Components/css/store.css';
@import './Components/css/review.css';
@import './Components/css/order.css';
@import './Components/css/orderinfo.css';
@import './Components/css/ordercomplete.css';
@import './Components/css/orderstatus.css';
@import './Components/css/fastorder.css';
@import './Components/css/question.css';
@import './Components/css/questionwrite.css';
@import './Components/css/orderhistory.css';
@import './Components/css/pointhistory.css';
@import './Components/css/reviewwrite.css';
@import './Components/css/optionmodal.css';
@import './Components/css/bigstatus.css';
@import './Components/css/myplace.css';
@import './Components/css/myplacedetail.css';
@import './Components/css/bizcertification.css';
@import './Components/css/bizmaster.css';
@import './Components/css/bizsearchmonth.css';
@import './Components/css/bizsearchdaily.css';
@import './Components/css/bizorderstatus.css';
@import './Components/css/bizkitchen.css';
@import './Components/css/kdsmain.css';
@import './Components/css/kdspickup.css';
@import './Components/css/kdssetting.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
