footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    padding: 10px 15px;
    font-family: MaplestoryOTFLight;
}
footer .footer__top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
}
footer .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    font-size: 13px;*/
    font-size: 12px;
    font-weight: 500;
    margin: 3px 0;
}
footer .footer__middle {
    display: flex;
    font-size: 11px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
footer .footer__bottom {
    display: flex;
    font-size: 11px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
