.header__box {
    width: 90%;
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: 0px;
    font-size: 32px;
    height: 50px;
    align-items: center;
    padding: 0 15px;
}
#back-btn {
    cursor: pointer;
}
