.myplacedetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.myplacedetail .kakaomap,
.myplacedetail .kakaomap #map {
    width: 700px;
    height: 500px;
}
@media (max-width: 550px) {
    .myplacedetail .kakaomap,
    .myplacedetail .kakaomap #map {
        width: 90%;
        height: 300px;
    }
}
.myplacedetail .myplacedetail__api {
    margin-right: auto;
}
.myplacedetail input {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    text-align: center;
}
.myplacedetail input[type="submit"] {
    background-color: #2AC1BC;
    color: #ffffff;
}
