.optionmodal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}
.optionmodal.hidden {
    display: none;
}
#close__modal {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    margin-left: 350px;
}
.optionmodal .optionmodal__container {
    background-color: #f2f2f2;
    min-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionmodal .optionmodal__container .optionmodal__category {
    display: flex;
    align-items: center;
}
.optionmodal .optionmodal__container .optionmodal__category .category__category {
    margin: 5px 5px;
}
.optionmodal .optionmodal__container .optionmodal__options {
    width: 100%;
    top: 0;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
.optionmodal .optionmodal__container .optionmodal__options .options__option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.optionmodal .optionmodal__container .optionmodal__header {
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}
.optionmodal .optionmodal__container .optionmodal__title .optionmodal__name {
    margin-bottom: 5px;
}

.optionmodal .optionmodal__container .optionmodal__result {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 100px;
    font-size: 12px;
    bottom: 0;
}
.optionmodal .optionmodal__container .optionmodal__result .result__container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
    max-height: 100px;
    overflow: scroll;
}
.optionmodal .optionmodal__container .optionmodal__result .result__container .result__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.optionmodal .optionmodal__container .optionmodal__result .optionmodal__btn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
#option__quantity {
    width: 30px;
}
