.orderinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    font-size: 24px;
}
.orderinfo .orderinfo__options {
    margin: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderinfo .orderinfo__options .orderinfo__title {
    margin-bottom: 20px;
}
.orderinfo .orderinfo__btn {
    bottom: 0;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderinfo .orderinfo__options .orderinfo__pay .pay__info {
    display: flex;
    justify-content: space-between;
}
