.pointhistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}
.pointhistory .pointhistory__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pointhistory .pointhistory__container .pointhistory__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 15px;
}
.pointhistory .pointhistory__conversion {
    width: 80%;
    height: 25px;
    margin-top: 15px;
}
.pointhistory .pointhistory__search {
    margin-top: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pointhistory .pointhistory__search .search__title {
    margin-right: auto;
}

.pointhistory .pointhistory__search .search__input {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointhistory .pointhistory__search .pointhistory__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pointhistory .pointhistory__search .pointhistory__result .result__date {
    margin-right: auto;
}
.pointhistory .pointhistory__search .pointhistory__result .result__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 25px;;
}
.modal__conversion.hidden {
    display: none;
}
.modal__conversion {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.modal__conversion .modal__modal {
    min-width: 300px;
    min-height: 500px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
