.write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#question__write {
    margin-top: 50px;
    width: 90%;
    min-height: 75vh;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
}
#question__submit {
    width: 90%;
    height: 45px;
    margin-top: 5px;
}
