.Toastify__toast {
    width:60%;
    margin: 10px auto;
}
.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Toastify__toast-body {
    font-family: MaplestoryOTFLight;
    color: #000000;
}
.Toastify__toast-body img {
    width: 30px;
    margin-right: 10px;
}
